@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/global.scss" as *;

.result {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  &__container {
    width: 50%;
    margin-bottom: 2rem;
  }

  &__title {
    margin: 0.5rem;
  }

  &__text {
    word-break: break-word;
  }
  &__loading {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: gray;
    padding: 20px;
  }
}

pre {
  padding: 1.5rem;
  border-radius: 0.625rem;
  white-space: pre-wrap;
  background-color: white;
  font-family: "Figtree";
  line-height: 1.5rem;
  font-size: 0.75rem;
}
